In [59]:
import praw
import random
import pandas as pd

def get_reddit_data(sub_name):

    try :
        reddit = praw.Reddit(
            client_id="",
            client_secret="",
            password="",
            user_agent="",
            username="",
        )
    except:
        return("Unable to connect to reddit :( ")
    
    try :
        select = ['year','day','hour','all','month','week']
        random_choice = random.choice(select)
        user_list = []
        for submission in reddit.subreddit(sub_name).top(random_choice,limit=15):
                user_list.append(str(submission.author))
    except :
        return("Subreddit Doesn't exisit :( ")
    
    row_list = []
    count = 1
    for name in user_list:
        try :
            for comment in reddit.redditor(name).comments.top("all",limit=None):
                row_dict ={}
                row_dict["comment"] = comment.body
                row_dict["subreddit"] = comment.subreddit
                row_dict["score"] = comment.score
                row_dict["user"] = count
                row_list.append(row_dict)  
                        
        except:
            pass
        count += 1

    userdata = pd.DataFrame(row_list)
        
    return userdata

                                                comment  score  user
0     I definitely will be! Wasn’t really planning o...    914     1
1                                           I love you.    647     1
2     It’s perfectly fine! I appreciate the advice r...    309     1
3     I actually really liked it in my opinion. Them...    155     1
4     Being a meme has been my life long dream. Plea...     78     1
...                                                 ...    ...   ...
5571  They get a section of their rattle after every...      1    15
5572                                       Popman prase      1    15
5573  popman prase aslo someone ate my dog\n\n\n*I a...      1    15
5574               The xenomorph tail is a pile of shit      0    15
5575  I dont see how that would be weird, but that's...      0    15

[5576 rows x 3 columns]